<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app/static/lista_proyectos.css">
    <title>lista de proyectos</title>
</head>
<body>
    <nav id="Magaly">
        <ul>
            <li><a href="#">AURO</a></li>
            <li><a href="#">Busca trabajo</a></li>
            <li><a href="#">Mis proyectos</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
    </nav>
    <div class="proyecto">
        <div class="proyecto-title">Proyecto 1</div>
        <div class="proyecto-description">Descripción breve del Proyecto 1.</div>
        <button class="aprobado_por_chayane-button">Aprobar</button>
        <button class="eliminado_por_chayane-button">Eliminar</button>

    </div>

    <div class="proyecto">
        <div class="proyecto-title">Proyecto 2</div>
        <div class="proyecto-description">Descripción breve del Proyecto 2.</div>
        <button class="aprobado_por_chayane-button">Aprobar</button>
        <button class="eliminado_por_chayane-button">Eliminar</button>
    </div>

    <div class="proyecto">
        <div class="proyecto-title">Proyecto 3</div>
        <div class="proyecto-description">Descripción breve del Proyecto 3.</div>
        <button class="aprobado_por_chayane-button">Aprobar</button>
        <button class="eliminado_por_chayane-button">Eliminar</button>
    </div>
</body>
</html>